<extend name="Public/base"/>

<block name="body">

    <div class="main-title">
        <h2>微秀首页列表</h2>
    </div>
    <style>
        table  tr  td{text-align:center;}
        table  tr  th{text-align:center !important;}
    </style>

    <div class="cf">
        <a class="btn" href="{:U('add_index')}">新 增</a>
    </div>
    <div class="data-table table-striped">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>图片</th>
                <th>标题</th>
                <th>内容</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="abc">
                <volist name="abc" id="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td><img src="{$vo.pic}" alt="" style="width:100px;height:100px;"></td>
                        <td>{$vo.title}</td>
                        <td>{$vo.intro}</td>
                        <td>
                            <a class="btn"  title="编辑" href="{:U('edit_index?id='.$vo['id'])}">编辑</a>
                            <a class="confirm ajax-get btn" title="删除" href="{:U('del_index?id='.$vo['id'])}">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function() {
            //点击排序
            $('.list_sort').click(function(){
                var url = $(this).attr('url');
                var ids = $('.ids:checked');
                var param = '';
                if(ids.length > 0){
                    var str = new Array();
                    ids.each(function(){
                        str.push($(this).val());
                    });
                    param = str.join(',');
                }

                if(url != undefined && url != ''){
                    window.location.href = url + '/ids/' + param;
                }
            });
        });
    </script>
</block>