<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>WIFI福利社</title>
    <link rel="stylesheet" href="__CSS__/jt.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        (function(doc, win) {
            var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function() {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        if (clientWidth >= 750) {
                            docEl.style.fontSize = '100px';
                        } else {
                            docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                        }
                    };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body>
<div class="all">
    <!--<div class="sky">-->
        <!--<div class="nav">-->
            <!--<a href="" onClick="javascript :history.back(-1);"><img src="__IMG__/center_back.png" alt="" class="nav_img"></a>-->
            <!--百惠优品礼品购-->
        <!--</div>-->
    <!--</div>-->
<!--<script src='http://ad.huifenxiao.com/vs.php?id=4 '></script>
 <script src="http://ad.huifenxiao.com/effect.php?type=ec&pid=10"></script> -->
    <div class="ad">
        <a href="http://engine.tuibench.com/index/activity?appKey=2Z9DHhqcyxZGrNnyGxRs3p8ruzeG&adslotId=9063"><img src="__IMG__/icon-9.gif" alt="" class="img8"></a>
    </div>
    <div class="content">
        <div class="content_left">
            <img src="__IMG__/welfare_head_logo.png" alt="" class="img2">
        </div>
        <div class="content_right">
            <span class="span1">WIFI连接成功</span><br>
            <span class="span1">使用<span class="span2">4分59秒</span>后获得<span class="span2">200</span>积分</span><br>
            <span class="span1">在签到<span class="span2">3天</span>可获得<span class="span2">10元</span>红包</span>
        </div>
        <div class="clear" style="clear:both;"></div>
        <div class="aline"></div>
        <div class="money">
            <span class="span3">您的积分 <span class="span3_3">2589</span>     &nbsp;&nbsp;&nbsp;&nbsp;账户余额 <span class="span3_3">5.8元</span></span><br>
            <span class="span4">上网时长共12小时58分32秒</span>
        </div>
    </div>
    <div class="level">
        <div class="level_tp">
            <div class="level_tp_left">
                我的会员
            </div>
            <div class="level_tp_right">
                会员攻略>
            </div>
        </div>
        <div class="aline"></div>
        <div class="level_btm">
            <img src="__IMG__/welfare_line.png" alt="" class="img4">
        </div>
    </div>
    <div class="wel_ban1">
       <a href="http://mb.huifenxiao.cn/jump.php?id=15282812811"><img src="__IMG__/welfare_banner1.png" alt="" class="img5"></a>
    </div>
    <div class="wel_ban1">
       <a href="http://mb.huifenxiao.cn/jump.php?id=15282813091"><img src="__IMG__/welfare_banner2.png" alt="" class="img5"></a>
    </div>
    <div class="wel_ban1">
        <a href="http://taoke.huifenxiao.cn/taoke"><img src="__IMG__/welfare_banner3.png" alt="" class="img5"></a>
    </div>
    <ul class="wel_bm">
        <li>
            <a href="" style="color:#ed3851;">
                <img src="__IMG__/btm0.png" alt="" class="img6">
                <p class="span6 ">账户</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="__IMG__/btm2.png" alt="" class="img6">
                <p class="span6">周边</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="__IMG__/btm1.png" alt="" class="img6">
                <p class="span6">社区</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="__IMG__/btm3.png" alt="" class="img6">
                <p class="span6">福利</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="__IMG__/btm4.png" alt="" class="img7">
                <p class="span6">游戏</p>
            </a>
        </li>
    </ul>
</div>
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4070859387a03f563dd95e351e3c98c1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>
