<extend name="Public/base"/>

<block name="body">

    <style>
        .radio{
            width:100px;
        }
    </style>
    <script type="text/javascript" language="javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script charset="utf-8" src="Public/static/kindeditor_new/kindeditor-all.js"></script>
    <script charset="utf-8" src="Public/static/kindeditor_new/lang/zh-CN.js"></script>

    <script>
        KindEditor.ready(function(K) {
            window.editor = K.create('#editor_id');
        });
    </script>

    <div class="main-title">
        <h2>添加吸粉信息</h2>
    </div>
    <form action="{:U(add_index)}" method="post" class="form-horizontal"  >
        <div class="form-item">
            <label class="item-label">名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">简介</label>
            <div class="controls">
                <input type="text" class="text input-large" name="intro" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">微信号</label>
            <div class="controls">
                <input type="text" class="text input-large" name="micro_signal" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">推广链接<span class="check-tips">（[链接必须带http头]如：https://www.baidu.com）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="wake_link" value="">
            </div>
        </div>

        <div class="picmsg">
            <label class="item-label">上传图片<span class="check-tips">（头像尺寸不超过132*132，二维码尺寸258*258）</span></label>
            <input type="file" name="pic" id="a_picture_image" />
            <input type="hidden"  name="pic"  class="Business_License_url" id="picture" value="人物头像" />
            <img  id="picture_look" src="{$vo.sec_head}" width="50%" />

            <input type="file" name="code" id="a_picture_image1" />
            <input type="hidden"  name="code"  class="Business_License_url" id="picture1" value="上传二维码" />
            <img  id="picture_look1" src="{$vo.storeimg1}" width="50%" />

        </div>
        <!--这里是编辑器添加内容-->
        <!--<div class="form-item">-->
            <!--<label class="item-label">简介：</label>-->
            <!--<tr><td><textarea id="editor_id"    name="sec_intro" style="width:1500px;height:600px;"></textarea></td></tr>-->
        <!--</div>-->


        <div class="form-item" style="margin-top:50px" >
            <button class="btn submit-btn " id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

    <script type="text/javascript">

        /* 初始化上传头像插件 */
        $("#a_picture_image").uploadify({
            "height"          : 30,
//            formData : {'session_id' : sid},
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "download",
            "buttonText"      : "上传头像图片",
            "uploader"        : "/index.php?s=/Admin/Weixiu/pic",
            "width"           : 120,
            'removeTimeout'	  : 1,
            "onUploadSuccess" : uploadFile,
            'onFallback' : function() {
                alert('未检测到兼容版本的Flash.');
            }
        });
        function uploadFile(file, data){
            $("#picture_look").attr("src",data);
            $("#picture").val(data);
            $("#picture_look").css('width','100px');
        }
    </script>

    <script type="text/javascript">
        /* 初始化上传第一张图片插件 */
        $("#a_picture_image1").uploadify({
            "height"          : 30,
//            formData : {'session_id' : sid},
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "download",
            "buttonText"      : "上传二维码",
            "uploader"        : "/index.php?s=/Admin/Weixiu/pic",
            "width"           : 120,
            'removeTimeout'	  : 1,
            "onUploadSuccess" : uploadFile,
            'onFallback' : function() {
                alert('未检测到兼容版本的Flash.');
            }
        });
        function uploadFile(file, data){
            $("#picture_look1").attr("src",data);
            $("#picture1").val(data);
            $("#picture_look1").css('width','100px');
        }
    </script>


    <script type="text/javascript" language="javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>

    <script>
        jQuery(document).ready(function () {
            //高亮当前选中的导航
            var myNav = $(".side-nav a");
            for (var i = 0; i < myNav.length; i++) {
                var links = myNav.eq(i).attr("href");
                var myURL = document.URL;
                var durl=/http:\/\/([^\/]+)\//i;
                domain = myURL.match(durl);
                console.log(myURL.match(durl));
                var result = myURL.replace("http://"+domain[1],"");
                if (links == result) {
                    myNav.eq(i).parents(".dropdown").addClass("curr");
                }
            }
        });
    </script>

</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Book/index')}');
    </script>
</block>
